html * {
    font-family: 'Raleway', sans-serif;
}

/* general styles */
pre {
	font-size: 0.7em;
}

i {
  padding: 0 0.2em;
}

.fullscreen-image {
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	background-size: cover;	
}

.align-left::shadow div#content {
  justify-content: initial;
  align-items: initial;
  text-align: initial;
  padding: 20px;
}

ul.align-left li {
    text-align: left;
}

mockup-browser {
	width: 80%;
	box-shadow: 0px 0px 3px 3px rgba(200, 200, 200, 0.2);
}

mockup-browser img {
  width: 100%;
}

.clippy, .clippy-balloon {
  transform: scale3d(2, 2, 1);
}

/* slide styles */
.about h1 { margin-bottom: 0; }
.about h1+div { font-size: 0.8em; }

.genius { background: #FF0; }
.coding-time { background: #F0F; }