web-slide(class="fullscreen-image about align-left" style={"background-image": "url('images/stefan.png')" }, data-transition="moveToLeft")
	h1 Stefan Jäger
	div
		i Berne /
		i.fa.fa-twitter
		| steivan /
		i.fa.fa-github
		| steivan
	
web-slide(class="fullscreen-image about align-left" style={"background-image": "url('images/chris.jpg')" }, data-transition="moveToLeft")
	h1 Christian Kohler
	div
		i Zurich /
		i.fa.fa-twitter
		| christiankohler /
		i.fa.fa-github
		| christiankohler
		
web-slide(class="fullscreen-image about align-left" style={"background-image": "url('images/kevin.jpg')", "color": "white" }, data-transition="moveToLeft")
	h1 Kevin Denver
	div
		i London /
		i.fa.fa-twitter
		| ToastShaman /
		i.fa.fa-github
		| ToastShaman