web-slide
	p.
		This talk explores the modern art of writing single page web applications
		in JavaScript. Do you even need frameworks like Angular at all? We'll 
		show you the good, the bad and the ugly of various approaches, including 
		frameworks, micro libraries and native browser functionality.

web-slide
	h1 Example Application
	p Find a movie based on your travel time
	mockup-browser
		div(style="position: relative; height: 250px; overflow-y: hidden;")
			img(src="images/popcorn-search.png")
			img(src="images/popcorn-result.png" data-enter="1" style="position: absolute; top: 0; left: 0;")
		