web-slide
    h1 &laquo;Yet Another JS Framework &raquo;
    img(src="images/yetanotherjsframework.png")
    
web-slide
    h1 Topics
    p Vanilla SPA
    p The good, the bad and the ugly
    p Aurelia

web-slide
    h1 Example Application
    p Find a movie based on your travel time
    mockup-browser
        div(style="position: relative; height: 250px; overflow-y: hidden;")
            img(src="images/popcorn-search.png")
            img(src="images/popcorn-result.png" data-enter="1" style="position: absolute; top: 0; left: 0;")
        