web-slide(class="genius", data-transition="moveToLeft")
    h1 Custom Elements

web-slide(class="fullscreen-image" style={"background-image": "url('images/nice-woman.jpg')" }, data-transition="moveToLeft")
    pre(data-enter="1" is="lang-markup").
        &lt;nice-woman&gt;&lt;/nice-woman&gt;

web-slide(class="fullscreen-image" style={"background-image": "url('images/nice-woman-complex.png')" }, data-transition="moveToLeft")
    pre(data-enter="1" is="lang-markup").
        &lt;div&gt;
            &lt;div class="hair-mesh"&gt;
                &lt;span class="..."&gt;&lt;/span&gt;
                &lt;div class="..."&gt;
                    ...
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="eyes"&gt;
                &lt;span class="..."&gt;&lt;/span&gt;
                &lt;div class=""&gt;
                    ...
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="lips"&gt;
                &lt;span class="..."&gt;&lt;/span&gt;
                &lt;div class=""&gt;	
                    &lt;div class="..."&gt;
                        &lt;span class="..."&gt;&lt;/span&gt;
                        &lt;div class=""&gt;
                            ...
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;

web-slide(class="align-left genius")
    h2 Custom Element Creation
    pre(is="lang-javascript").
        document.registerElement('nice-woman');
    pre(data-enter="1" is="lang-markup").
        &lt;nice-woman&gt;&lt;/nice-woman&gt;
    pre(data-enter="2" is="lang-javascript").
        document.registerElement('nice-woman', {
            prototype: Object.create(HTMLElement.prototype)
        });

web-slide(class="align-left genius")
    h2 Custom Element Creation
    pre(is="lang-javascript").
        var NiceWoman = Object.create(HTMLElement.prototype);
        NiceWoman.createdCallback = function() {
            this.innerHTML = 'click me!';
            this.addEventListener('click', function(e) {
                alert('Hello!');
            });
        };
        document.registerElement('nice-woman', {
            prototype: NiceWoman
        });
    pre(data-enter="1" is="lang-markup").
        &lt;nice-woman&gt;&lt;/nice-woman&gt;
    script.
        var NiceWoman = Object.create(HTMLElement.prototype);
        NiceWoman.createdCallback = function() {
            this.innerHTML = "click me!";
            this.addEventListener('click', function(e) {
                alert('Hello!');
            });
        };
        document.registerElement('nice-woman', {
            prototype: NiceWoman
        });
    p(data-enter="1")
        nice-woman

web-slide(class="genius", data-transition="moveToLeft")
    h1 One More Thing

web-slide(class="fullscreen-image" style={"background-image": "url('images/nice-woman-outdoor.jpg')" }, data-transition="moveToLeft")
    pre(data-enter="1" is="lang-markup").
        &lt;nice-woman type="outdoor"&gt;&lt;/nice-woman&gt;

web-slide(class="align-left genius")
    h2 Custom Element Attributes
    pre(is="lang-javascript").
        var NiceWoman = Object.create(HTMLElement.prototype);
        NiceWoman.createdCallback = function() {
            this.innerHTML = 'click me, type=' + this.attributes['type'].value;
            this.addEventListener('click', function(e) {
                alert('Hello, type=' + this.attributes['type'].value);
            });
        };
        document.registerElement('nice-woman', {
            prototype: NiceWoman
        });
    pre(data-enter="1" is="lang-markup").
        &lt;nice-woman type="outdoor"&gt;&lt;/nice-woman&gt;
    script.
        var NiceWoman2 = Object.create(HTMLElement.prototype);
        NiceWoman2.createdCallback = function() {
            this.innerHTML = 'click me, type=' + this.attributes['type'].value;
            
            this.addEventListener('click', function(e) {
                alert('Hello, type=' + this.attributes['type'].value);
            });
        };
        document.registerElement('nice-woman2', {
            prototype: NiceWoman2
        });
    p(data-enter="1")
        nice-woman2(type="outdoor")