web-slide(class="align-left genius")
    h1 Custom Elements
    p(data-enter="1") bundles a complex structure
    pre(data-enter="1" is="lang-markup").
        &lt;figure class="movie__item__inner"&gt
            &lt;div class="movie__item__inner__img"&gt;
                &lt;img src="img/darkknight.png" /&gt;
            &lt;/div&gt;
            &lt;figcaption&gt;
                &lt;h3&gt;Dark Night&lt;/h3&gt;
            &lt;/figcaption&gt;
        &lt;/figure&gt;
    p(data-enter="2") into a single tag
    pre(data-enter="2" is="lang-markup").
        &lt;movie-tile title="Dark Night" imageurl="img/darkknight.png"&gt;&lt;/movie-tile&gt;

web-slide(class="align-left genius")
    h1 Custom Elements can do more
    ul(data-enter="1").align-left
        li Web Components don't exist without the features unlocked by custom elements:
        li They define new HTML/DOM elements
        li They create elements that extend from other elements
        li They extend the API of existing DOM elements
        li They logically bundle together custom functionality into a single tag

web-slide(class="align-left genius")
    h2 Create a custom element
    pre(is="lang-javascript").
        var XFoo = document.registerElement('x-foo');
        document.body.appendChild(new XFoo());
    p Name must contain a dash (-).
    p(data-enter="1") By default, custom elements inherit from HTMLElement. Thus, the previous example is equivalent to:
    pre(data-enter="1", is="lang-javascript").
        var XFoo = document.registerElement('x-foo', {
            prototype: Object.create(HTMLElement.prototype)
        });


web-slide(class="align-left genius")
    h2 Use a custom element
    span(data-enter="1")
        p By declaring it
        pre(is="lang-markup")
            = '<x-foo></x-foo>'
    span(data-enter="2")
        p By creating DOM in JS
        pre(is="lang-javascript").
            var elem = document.createElement('x-foo');
            elem.addEventListener('click', function(e) {
                e.target.foo(); 
            });
    span(data-enter="3")
        p By using new (if the constructor attribute was defined)
        pre(is="lang-javascript").
            var elem = new XFoo();
            document.body.appendChild(elem);