web-slide.genius
	h1 Arrow Functions
	div.
		Arrows are a function shorthand using the => syntax. 
		They support both expression and statement bodies. Unlike functions, 
		arrows share the same lexical this as their surrounding code.
	pre(is="lang-javascript").
		// Expression bodies
		var odds = evens.map(v => v + 1);
		var nums = evens.map((v, i) => v + i);

		// Statement bodies
		nums.forEach(v => {
		  if (v % 5 === 0) fives.push(v);
		});

		// Lexical this
		var bob = {
		  _name: "Bob",
		  _friends: [],
		  printFriends() {
		    this._friends.forEach(f =>
		      console.log(this._name + " knows " + f));
		  }
		};
