web-slide-title
	h1 SPA without libraries

web-slide
	h1 Let's start with a component
	img(src="images/darkknight.jpg" style="width: 207px; box-shadow: 1px 1px 1px 1px #AAA")

web-slide
	h1 What do we need?
	p(data-enter="1") Something to initialize the component
	p(data-enter="2") Templates
	pre(data-enter="3" is="lang-markup" theme="dark").
		&lt;movie-tile title="Dark Night" imageurl="img/darkknight.png"&gt;&lt;/movie-tile&gt;

include ./ex-customelement.jade
include ./ex-fetch.jade
include ./ex-es6-class.jade
include ./ex-es6-promises.jade
include ./ex-es6-arrowfunc.jade
include ./ex-es6-modules.jade
include ./ex-es6-templatestring.jade
include ./goodbadugly.jade