web-slide-title
	h1 No Libs

include ./ex-customelement.jade
include ./ex-fetch.jade
include ./ex-es6-class.jade
include ./ex-es6-promises.jade
include ./ex-es6-arrowfunc.jade
include ./ex-es6-modules.jade
include ./ex-es6-templatestring.jade
include ./goodbadugly.jade